html {
    background          :   #eee;
}

body {
    margin              :   10px;
    background          :   #eee;
    color               :   #111;
    font-family         :   Verdana, Arial, Helvetica, sans-serif;
    font-size           :   14px;
    line-height         :   26px;
}

h1, h2 {
    font-weight         :   bold;
    font-size           :   14px;
}

span.note {
    font-weight         :   normal;
    font-size           :   14px;
}

p.note {
    font-weight         :   normal;
    font-size           :   12px;
    line-height         :   14px;
}

a {
    color               :   #111;
}

#events {
    width               :   220px;
}

#performance, #points {
    width               :   80px;
    text-align          :   right;
}

label {
    display             :   inline-block;
    zoom                :   1;
    display             :  -moz-inline-box;
    width               :   80px;
    vertical-align      :   top;
}

ol.fields, #bookmarks {
    margin              :   0 0 0 30px;
    padding             :   0;
}

ol.fields li, #bookmarks li {
    list-style          :   none;
    padding             :   0;
    margin              :   0;
}

ol.fields li {
    padding             :   4px 0 4px 0;
}

#bookmark, .remove {
    display             :   block;
    float               :   left;
    width               :   22px;
    height              :   22px;
    margin              :   2px 10px 0 -32px;
    padding             :   0;
    text-indent         :  -10000px;
}

#bookmark {
    background          :   url("add.png") center center no-repeat;
}

#bookmark.disabled {
    background          :   url("add-disabled.png") center center no-repeat;
    cursor              :   default;
}

.remove {
    background          :   url("remove.png") center center no-repeat;
}
