# We need Basic HTTP Authentication, which is only available
# if PHP is run as Apache module.
# By default, PHP5 is run as CGI, the following line switches
# to PHP4 Apache module.
AddHandler application/x-httpd-php .php

RewriteEngine On
RewriteRule ^tags/get tags_get.php
RewriteRule ^posts/dates posts_dates.php
RewriteRule ^posts/get posts_get.php
RewriteRule ^posts/recent posts_recent.php
RewriteRule ^posts/all posts_all.php
RewriteRule ^posts/update posts_update.php
RewriteRule ^posts/add posts_add.php
RewriteRule ^posts/delete posts_delete.php
RewriteRule ^tags/rename tags_rename.php
